# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk

# MacOS general
.DS_Store

# Icon must end with two \r
Icon

# Sass
.sass-cache/
*.css.map

# Parcel Bundler
.parcel-cache

# Npm packages
node_modules/*
package-lock.json

# Project
/dist/*
*.css
*.min.css
/tmp/