# System
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db
ehthumbs.db

# IDEs
nbproject/
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace

# ENVs
node_modules
# Project
/dist/*
/src/css/*
/build/
/tmp/
/test/assets/css/*
package-lock.json
.parcel-cache