.button {
  @include padding(0.5rem 1rem);
  @include margin(0.5rem);
  @include font-size(1.2rem);
  @extend %button;

  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  border: 1px solid transparent;
  color: $white;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color--600;
  }

  &-2 {
    @extend .button;

    color: $primary-color;
    background-color: transparent;
    border-color: currentColor;

    &:hover {
      color: $white;
      background-color: $primary-color;
    }
  }

  &-ghost {
    @extend .button;

    color: $primary-color;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: currentColor;
    }
  }

  &-link {
    @extend .button;

    color: $primary-color;
    background-color: transparent;
    margin: 0;
    padding: 0;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &#{&}--big {
    @include font-size(1.5rem);
  }
}
