////
/// Font Stacks
///
/// @type list
/// @group Fonts
///
/// @link https://github.com/thoughtbot/bourbon/ - Bourbon
/// @link https://github.com/sindresorhus/sass-extras - Sass Extras
/// @link https://www.cssfontstack.com/ - CSS Fonts
////

$font-stack-system: (
  'system-ui',
  '-apple-system',
  'Segoe UI',
  'Roboto',
  'Helvetica',
  'Arial',
  'sans-serif',
  'Apple Color Emoji',
  'Segoe UI Emoji'
) !default;

$font-stack-system-mono: (
  'ui-monospace',
  'SFMono-Regular',
  'Consolas',
  'Liberation Mono',
  'Menlo',
  'monospace'
) !default;

/// @link https://goo.gl/uSJvZe
$font-stack-helvetica: (
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif
) !default;

/// @link https://goo.gl/yGXWSS
$font-stack-verdana: ('Verdana', 'Geneva', sans-serif) !default;

/// @link https://goo.gl/wtzVPy
$font-stack-georgia: ('Georgia', 'Times', 'Times New Roman', serif) !default;

/// @link https://goo.gl/iKrtqv
$font-stack-consolas: ('Consolas', 'monaco', monospace) !default;

/// @link https://goo.gl/bHfWMP
$font-stack-courier-new: (
  'Courier New',
  'Courier',
  'Lucida Sans Typewriter',
  'Lucida Typewriter',
  monospace
) !default;

/// @link https://goo.gl/9PgKDO
$font-stack-monaco: (
  'Monaco',
  'Consolas',
  'Lucida Console',
  monospace
) !default;
