/// Medya
@mixin medya($bitis: null, $baslangic: null) {
	$max-width: null;
	$min-width: null;
	$medya-query: "";

	@if $bitis {
		@if type-of($bitis) == number {
			$max-width: $bitis;
		} @else {
			$max-width: #{hazir-medya-degeri-al($bitis)}#{$varsayilan-medya-unit};
		}
	}

	@if $baslangic {
		@if type-of($baslangic) == number {
			$min-width: $baslangic;
		} @else {
			$min-width: #{hazir-medya-degeri-al($baslangic)}#{$varsayilan-medya-unit};
		}
	}

	@if ($max-width != null) and ($min-width != null) {
		$medya-query: "(min-width: #{$min-width}) and (max-width: #{$max-width})";
	} @else if $max-width {
		$medya-query: "(max-width: #{$max-width})";
	} @else if $min-width {
		$medya-query: "(min-width: #{$min-width})";
	}

	@media screen and #{$medya-query} {
		@content;
	}
}

// Kısayollar
@mixin min-medya($deger) {
	@include medya(null, $deger) {
		@content;
	}
}

@mixin max-medya($deger) {
	@include medya($deger) {
		@content;
	}
}

@mixin aralik-medya($baslangic, $bitis) {
	@include medya($bitis, $baslangic) {
		@content;
	}
}

@mixin medya-boyutlarini-goster($boyutlar) {
	body::after {
		position: fixed;
		z-index: 99;
		right: 0;
		top: 0;
		padding: 0.5rem 1rem;
		background-color: $beyaz-3;
		border: 1px solid $siyah;

		@each $medya-boyutu-ismi, $medya-boyutu in $boyutlar {
			$boyut: $medya-boyutu-ismi;
			$icerik: "#{$medya-boyutu-ismi}";
			
			@if $medya-boyutu {
				$boyut: $medya-boyutu * 1px;
				$icerik: "#{$medya-boyutu-ismi}: >= #{$boyut}";
			}

			@include min-medya($boyut) {
				content: "#{$icerik}";
			}
		}
	}
}

$medya-boyutlarini-goster: true;
@if $medya-boyutlarini-goster {
	$boyutlar: $medya-boyutlari;
	$boyutlar: (
		xs: null,
		sm: 576,
	);
	@include medya-boyutlarini-goster($boyutlar);
}
