/// Tema
/// Temaya özel still ayarlarını yapar
/// @param {string} $tema [default] - temaya ismi
@mixin tema($tema: "default") {
	@at-root html[data-theme="#{$tema}"] #{&} {
		@content;
	}
}

/// Arkaplan 
/// Elementin arkaplan resmini ayarlar
/// @param {string} $url - resim url/yolu
/// @param {string|number} $size [cover] - resim boyutu
/// @param {string|number} $position [center]  - resim konumu
/// @param {string} $repeat [no-repeat] - resmin tekrar edip etmeyeceğini belirler
@mixin arkaplan(
	$url,
	$size: cover,
	$position: center,
	$repeat: no-repeat,
) {
	background-image: $url;
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

/// Truncate
/// Elementin maksimum kaç satır olacaığını belirler
/// Eğer maksimum satır aşılır ise fazla satırları kesip
/// son satırın sonuna "..." koyar
/// @param {number} $max-satir [2] - maksimum satır sayısı
@mixin truncate($max-satir: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $max-satir;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/// Animasyon
/// Elemnt için varsayılan animasyon ayarlarını yapar
/// @param {boolen} $backface [true] - backface-visibility özelliğini belirler
/// @param {number} $perspective [1000] - elementin perspective özelliğini belirler
@mixin animasyon($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}