/// @type map | list
/// @access private
$display-list: 'block', 'inline', 'inline-block', 'flex', 'inline-flex',
  'initial', 'none' !default;

/**
 * To set the screen state using the class
 */
@each $element in $display-list {
  .d-#{$element} {
    display: #{$element} !important;
  }

  // Responsive
  @each $breakpoint, $breakpoint-value in $breakpoints {
    .d-#{$breakpoint}-#{$element} {
      @include mq($breakpoint) {
        display: #{$element} !important;
      }
    }
  }
}
