/* Layout */
html {
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	@include medya(lg) {
		font-size: 14px;
	}
}

body {
	overflow-x: hidden;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
	scroll-margin-top: 1.5rem;
	transition: all 150ms ease-out;
}

template,
[kapali] {
	display: none !important;
}
/* Layout SON */
