/* Layout */
* {
	scroll-margin-top: 1.5rem;
	transition: all 250ms ease-out;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

template,
[kapali] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
}
/* Layout SON */
