@media print {
  *,
  ::before,
  ::after {
    color: hsl(0, 0%, 0%) !important;
    background: hsl(0, 0%, 100%) !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline !important;
  }

  a[href]::after {
    content: ' (' attr(href) ')' !important;
  }

  /**
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '' !important;
  }
}
