@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700');

html {
  font-family: $root-font-family;
  font-size: $root-font-size;

  text-rendering: optimizeLegibility !important;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  @include medya(lg) {
    font-size: $root-font-size--mobil;
  }
}

body {
  line-height: $root-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
}

/* 
	https://type-scale.com/
	1.250 Major Third
*/
$font-boyutlari: (
  1: 3.815,
  2: 3.052,
  3: 2.441,
  4: 1.953,
  5: 1.563,
  6: 1.25,
) !default;

@each $font-numarasi, $font-degeri in $font-boyutlari {
  h#{$font-numarasi} {
    @include font-size($font-degeri * 1rem);
  }
}

p {
  @include font-size(1rem);
}

label {
  @include font-size(0.875rem);
}
