@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700');

html {
  font-family: $root-font-family;
  font-size: $root-font-size;

  @include medya(lg) {
    font-size: $root-font-size--mobil;
  }
}

body {
  line-height: $root-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
}

@include font-sizes($font-listesi);
