/* Z-index */
$z-indexes: (
	"mf-cursor",
	"popup",
	"modal",
	"sidebar",
	"toast",
	"no-js",
	"go-top",
	"header",
	"buton"
) !default;

$max-z-index: length($z-indexes) + 1 !default;

@each $z-index in $z-indexes {
	$max-z-index: $max-z-index - 1;
	.#{$z-index} {
		z-index: $max-z-index;
	}
}
/* Z-index SON */
