/// @type list
/// @access private
$z-index-listesi: '.loader', '.popup', '.nav', '.go-top' !default;

/// @type number
/// @access private
$z-index-start: 99 !default;

@each $eleman in $z-index-listesi {
  $z-index: $z-index-start;
  #{$eleman} {
    z-index: $z-index;
  }
  $z-index: $z-index - 1;
}
