/// Liste elemanlarının z-index hiyerarşisini belirler
/// z-index değeri 99'dan liste ise ilk elemanından
/// başlıyor ve her seferinde z-index 1 azaltılarak
/// liste elemanı ise 1 arttırılarak devam ediyor
///
/// @param {list} $liste - z-index verilecek elemanlar
/// @param {string} $eleman - $liste elemanı
/// @param {number} $z-index [99] - z-index başlangıç değeri
///
/// @access private
///
/// @example scss - Basit kullanım
///   $liste: ".elm1", ".elm2";
///   @include z-index($liste);
///
/// @example css - Output css
///   .elm1 { z-index: 99; } .elm2 { z-index: 98; }
///
/// @example scss - Varyant algılama
///   $liste: ".buton";
///   .buton{
///     color: red;
///     &-2{
///       color: blue;
///     }
///   }
///   @include z-index($liste);
///
/// @example css - Output css
///   .buton, .buton-2 { z-index: 99; }
///
/// @example scss - Ortak z-index değeri
///   $liste: ".elm, .elm2, .elm3 ";
///   @include z-index($liste);
///
/// @example css - Output css
///   .elm, .elm2, .elm3 { z-index: 99; }
///
@mixin z-index($liste, $z-index: 99) {
  @each $eleman in $liste {
    #{$eleman} {
      z-index: $z-index;
    }
    $z-index: $z-index - 1;
  }
}

/// @type list
/// @access private
$z-index-listesi: '.loader', '.popup', '.nav' '.go-top' !default;

@include z-index($z-index-listesi);
