// _spacing.scss => _bosluklar.scss

// @Bulma & @Bootstrap kütüphanelerini
// özellikle @Bulma.spacing.scss ve
// @Bootstrap.rfs.scss ile harmanlayarak
// projeme uyarladım.

// LICENSE:
// @Bootstrap: MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE),
// @Bulma: MIT (https://github.com/jgthms/bulma/blob/master/LICENSE)

/* Boşluklar */

// Degerler
$bosluk-isimleri: (
	"margin": "m",
	"padding": "p",
);
$bosluk-yonleri: (
	"top": "t",
	"right": "r",
	"bottom": "b",
	"left": "l",
);
$bosluk-degerleri: (
	"0": 0,
	"1": 0.25rem,
	"2": 0.5rem,
	"3": 0.75rem,
	"4": 1rem,
	"5": 1.25rem,
	"6": 1.5rem,
	"7": 1.75rem,
	"8": 2rem,
	"9": 2.5rem,
	"10": 3rem,
	"auto": auto,
);
$bosluk-prefix: (
	"pozitif": "",
	"negatif": "n",
);

// Ana hat
@each $prefix-ismi, $prefix-degeri in $bosluk-prefix {
	@each $ozellik, $kisaltma in $bosluk-isimleri {
		@each $isim, $deger in $bosluk-degerleri {
			$auto-kapat: 0;
			@if $prefix-ismi == "negatif" {
				$auto-kapat: 1;
				$deger: -$deger;
			}
			@if not($auto-kapat == 1 and $isim == "auto") {
				@if not($auto-kapat == 1 and $ozellik == "padding") {
					// Genel
					.#{$kisaltma}-#{$prefix-degeri}#{$isim} {
						@include rfs($deger, $ozellik);
					}

					// Tum yonler
					@each $yon, $yon-kisaltma in $bosluk-yonleri {
						.#{$kisaltma}#{$yon-kisaltma}-#{$prefix-degeri}#{$isim} {
							@include rfs($deger, #{$ozellik}-#{$yon});
						}
					}

					// Yataylar
					.#{$kisaltma}x-#{$prefix-degeri}#{$isim} {
						@include rfs($deger, #{$ozellik}-left);
						@include rfs($deger, #{$ozellik}-right);
					}

					// Dikeyler
					.#{$kisaltma}y-#{$prefix-degeri}#{$isim} {
						@include rfs($deger, #{$ozellik}-top);
						@include rfs($deger, #{$ozellik}-bottom);
					}
				}
			}
		}
	}
}

/* Boşluklar SON */
