// Tema
@mixin tema($tema: "default") {
	$element: #{&};
	@at-root html[data-theme="#{$tema}"] #{$element} {
		@content;
	}
}

// Font Face
@mixin font-face($font-ismi, $dosya) {
	@font-face {
		font-family: "#{$font-ismi}";
		src: url("../fonts/#{$dosya}.eot");
		src: url("../fonts/#{$dosya}.eot?#iefix") format("embedded-opentype"),
			url("../fonts/#{$dosya}.woff") format("woff"),
			url("../fonts/#{$dosya}.ttf") format("truetype"),
			url("../fonts/#{$dosya}.svg?#webfont") format("svg");
	}
}

// Genel
@mixin background(
	$url,
	$size: cover,
	$position: center,
	$repeat: no-repeat,
	$test: null
) {
	background-image: $url;
	background-repeat: $repeat;
	background-size: $size;
	background-position: $position;
	@if $test != null {
		background-color: $test;
	}
}

@mixin text-truncate($satir: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $satir;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}