@import '../../../src/scss/main.scss';
body {
  min-height: 200vh;
}

table {
  th {
    padding-right: 4rem;
    @include padding-left(0.5rem);
  }
  h4 {
    padding: 1rem 0;
    margin: 0;
    text-align: left;
  }
}